* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-color: #FFF7F0;
}

/* buttons */

button {
    color: #FFF7F0; 
    border: none;
    padding: 14px 45px;
    border-radius: 28px;
    font-weight: 700;
    font-size: 16px;
}

.idle-btn-dark {
    background-color: #030303;
}

.idle-btn-dark:hover,
.idle-btn-dark:focus,
.idle-btn-dark:active {
    cursor: pointer;
    background-color: #755cde;
}

.idle-btn-light {
    background-color: #eb7565;
}

.idle-btn-light:hover,
.idle-btn-light:focus,
.idle-btn-light:active {
    cursor: pointer;
    background-color: #f6a560;
}

/* navigation */

#nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 34px;
    /* display: none; */
}





