* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;

    /* font size */
    --headingL: 56px;
    --headingM: 40px;
    --headingS: 32px;
    --bodyM: 18px;
    --button: 16px;

    /* font weight */
    --headingWBold: 700px;
    --bodyWMed: 400px;

    /* font color */
    --fontColorH: #030303;
    --fontColorB: #7a746e;
    --fontColorBtn: #fff7f0;

    /* button color - idle */
    --idleBtnDk: #030303;
    --idleBtnLt: #eb7565;
    --hoverBtnDk: #755cde;
    --hoverBtnLt: #f6a560;
    
    /* bg color for work images */
    --bgColorGD: #755cde;
    --bgColorUX: #f6a560;
    --bgColorApp: #f39e9e;
    --bgColorPhoto: #61c4b7;
    --bgColorIl: #eb7565;
    --bgColorMG: #552049;
}

body {
    background-color: var(--fontColorBtn);
}

/* buttons */

button {
    color: var(--fontColorBtn); 
    border: none;
    padding: 14px 45px;
    border-radius: 28px;
    font-weight: var(--headingWBold);
    font-size: var(--button);
}

.idle-btn-dark {
    background-color: var(--idleBtnDk);
}

.idle-btn-dark:hover,
.idle-btn-dark:focus,
.idle-btn-dark:active {
    cursor: pointer;
    background-color: var(--hoverBtnDk);
}

.idle-btn-light {
    background-color: var(--idleBtnLt);
}

.idle-btn-light:hover,
.idle-btn-light:focus,
.idle-btn-light:active {
    cursor: pointer;
    background-color: var(--hoverBtnLt);
}

/* navigation */

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 34px 0;

}

.top-nav {
    display: none;
}

/* introductioni */

.my-intro {
    max-width:800px;
    text-align: center;
    padding: 23px;
    margin: 23px auto;
}

.intro-title {
    max-width: 70ch;
    font-size: var(--headingL);
    font-weight: var(--headingWBold);
    padding-bottom: 23px;
}

.intro-descript {
    max-width: 51ch;
    font-size: var(--bodyM);
    font-weight: var(--bodyWMed);
    color: var(--fontColorB);
    margin: 0 auto;
}

.work-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}

.work-graphic {
    background: var(--bgColorGD) url(assets/pattern-graphic-design.svg) no-repeat top 24px right 24px;
    grid-row: 1/3;
    height: 364px;
    width: 365px;
    border-radius: 8px;
}

.work-uiux {
    background: var(--bgColorUX) url(assets/pattern-ui-ux.svg) no-repeat top 24px right 24px;
    width: 164px;
    grid-column: 2/2;
    grid-row: 1/1;
    border-radius: 8px;
}

.work-apps {
    background: var(--bgColorApp) url(assets/pattern-apps.svg) no-repeat top 24px right 24px;
    width: 164px;
    grid-column: 2/2;
    grid-row: 1/1;
    margin: 0 auto;
    border-radius: 8px;
}

.work-photography {
    background: var(--bgColorPhoto) url(assets/pattern-photography.svg) no-repeat top 24px right 24px;
    width: 354px;
    border-radius: 8px;
    
}

.work-illustration {
    background: var(--bgColorIl) url(assets/pattern-illustrations.svg) no-repeat top 24px right 24px;
    width: 354px;
    border-radius: 8px;
}

.work-motion {
    background: var(--bgColorMG) url(assets/pattern-motion-graphics.svg) no-repeat top 24px right 24px;
    width: 354px;
    border-radius: 8px;
}




