* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;

    /* font size */
    --headingL: 56px;
    --headingM: 40px;
    --headingS: 32px;
    --bodyM: 18px;

    /* font weight */
    --headingWBold: 700px;
    --bodyWMed: 400px;


}

body {
    background-color: #FFF7F0;
}

/* buttons */

button {
    color: #FFF7F0; 
    border: none;
    padding: 14px 45px;
    border-radius: 28px;
    font-weight: 700;
    font-size: 16px;
}

.idle-btn-dark {
    background-color: #030303;
}

.idle-btn-dark:hover,
.idle-btn-dark:focus,
.idle-btn-dark:active {
    cursor: pointer;
    background-color: #755cde;
}

.idle-btn-light {
    background-color: #eb7565;
}

.idle-btn-light:hover,
.idle-btn-light:focus,
.idle-btn-light:active {
    cursor: pointer;
    background-color: #f6a560;
}

/* navigation */

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 34px 0;

}

.top-nav {
    display: none;
}

/* introductioni */

.my-intro {
    max-width:800px;
    text-align: center;
    padding: 23px;
    margin: 23px auto;
}

.intro-title {
    max-width: 70ch;
    font-size: 56px;
    font-weight: 700;
    padding-bottom: 23px;
}

.intro-descript {
    max-width: 51ch;
    font-size: 18px;
    color: #7a746e;
    margin: 0 auto;
}







